{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HSE Induction - Jorf Lasfar</title>

    <!-- CSS externes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    
    <!-- jQuery (si nécessaire) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- Point de montage React -->
    <div id="root"></div>

    <!-- Bundle React généré par Webpack -->
    <script src="{% static 'bundle.js' %}"></script>
</body>
</html>
